.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.black-column {
  background-color: black;
  height: 100px;
  text-align: center;
  border-radius: 50%;
}

img {
  max-height: 80%;
}
body {
  background-color: green;
}
