.some-page-wrapper {
  width: 500px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.black-column {
  background-color: black;
  height: 100px;
  text-align: center;
  border-radius: 50%;
}

img {
  max-height: 80%;
  /* visibility: hidden; */
}
body {
  background-image: url(images/background.png);
  width: 500px;
}
/* 
.worm-box {
  width: 100%;
  height: 30px;
}

#worm-container {
  overflow: hidden;
  transition: width 0.5s ease-in-out;
}

#worm {
  /* background-image: url(images/worm.png); 
  visibility: visible;
  max-width: 100%;
  height: 15px;
} */

.worm {
  width: 500px;
  visibility: visible;
}

.worm-container {
  overflow: hidden;
  transition: width 0.5s ease-in-out;
}

.worm-box {
  width: 500px;
}
